/*------------------------------------*\
  #ANNOUNCEMENTS BAR
\*------------------------------------*/
.announcement-bar {
  display: block;
  padding: 0 10px;
  background-color: #000;
  color: #fff;
  height: 40px;
  line-height: 40px;

  input.widefat {
    width: calc( 100% - 70px );
  }

  .dismiss {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    width: 40px;
    height: 40px;
    background-color: transparent;
    border: 0;
    border-radius: 0;
    color: #fff;
    
    svg {
      display: inline-block;
      vertical-align: middle;
    }
  }
}

.announcement-bar.top {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.announcement-bar.bottom {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}
