/**
 * VARIABLES
 */


// COLORS
$light-grey:            #f7f7f7;
$dark-grey:             #a2a2a2;
$primary-color:         #e52340;
$secondary-color:       #77f8a5;
$tertiary-color:        #0fe0f6;

$border-color:          $dark-grey;
$font-color:            #000;
$link-color:            $font-color;

$form-field-color:                #000;
$form-field-border-color:         #f4f4f4;
$form-field-label-color:          #b5b5b5;
$form-field-placeholder-color:    #b5b5b5;

$error-color:           #e52340;
$success-color:         #77f8a5;

